
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	margin-top: 30px;
}
#chatName{
	font-family: 'Permanent Marker', cursive;
	font-weight: normal;
	text-align: center;
	margin: 20px 0 40px 0;
	font-size: 80px;
	color: #000000;
}
#messageArea{
	display:none;
}
.well li{
	margin: 10px;
}
